body {

  margin:0;
  text-align: center;
  background-color: #ececec;
}

.topnav {
  background-color: #e8e8e8;
  overflow: hidden;
  position: fixed;
  top:0;
  width: 100%

}

.navbar-fixed {
    top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
}

.ll{
  margin:0;
  padding: 0;
  font-size: 1.5em;
  line-height: 0.8;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin:0;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: green;
}

.right-nav{
  float:right;
  padding-top:7px;
  font-family: 'Libre Baskerville', serif;

}

.topnav active {
  color: green;
}

.footer{
  padding-right:30px;

}

.botnav a {
  float: left;
  padding: 14px 16px;
  margin:0;
}

.botnavbar-fixed {
    bottom: 0;
    z-index: 100;
  position: static;
  width:100%;

}

.icons{
  width:25px;
  height:25px;

}


.rocket{
  position: relative;
  top:70px;
}

.dp1{
  border-radius: 60%;
  width:25%;
  height: 25%;
  float:left;
  margin-right: 30px;
  margin-top: 20px;
}

.Skills-1{
  margin:100px auto 50px auto;
  width:80%;
  text-align: left;
  line-height: 2;
}


.Skills-2{
  margin:0 auto 50px auto;
  width:80%;
  text-align: right;
  line-height: 2;
}

.dp2{
  border-radius: 60%;
  width:25%;
  height: 25%;
  float:right;
  margin-left: 30px;
  margin-top: 20px;
}

.dp-head{

  color:  #d7f7f5;
}

.dp-text{
position: relative;
bottom: 25px;

}

#pic1{
  position: relative;
  top:30px;
}

h1 {
  font-style: italic;
  font-size: 5em;
  font-family: 'Kaushan Script', cursive;
  color: #5588a3;
  margin: 0;

}

.deep-bottom-container{
  background-color: #ececec;
  margin: 100px ;
  position: relative;
  bottom:30px;

}

.heading{
  width: 100%;
  height: 100%;
  position: absolute;
  top:170px;
  background-color: #ececec;
  margin: 0;

}
.propic{
  position: relative;
  top: 25px;
  border-radius: 55px;
  margin-bottom: 30px;

}

.propic:hover{
  width: 165px;
  height: 165px;

}

.logo{
  margin-top: 0;
  width:95px;
  height:30px;
  padding: 0;
  line-height: 0;
  border: 0;

}

.intro{
  position: relative;
  top: 55px;
}


h2 {
  font-style: normal;
  font-size: 2em;
  font-family: 'Roboto Slab', serif;
  color: #145374;
  margin-top: 30px;
  margin-bottom: 20px;
}

h3 {
  font-style: normal;
  font-size: 1em;
  font-family: 'Roboto Slab', serif;
  color: #145374;
  margin-top: 0;
  margin-bottom: 20px;
}

.top-container{
  background-color: #ececec;
  padding: 0;
  margin: 0;
  height:460px;
}
.middle-container{
  position: relative;
  top: 130px;
  padding: 50px;
  margin-bottom: 20px;
  background-color: #5588a3;
}
.bottom-container{
  margin-top: 30px;
  padding: 80px;
  background-color: #5588a3;
}


hr{
  position: relative;
  border-style: none;
  border-top-style: dotted;
  border-color: #d7f7f5;
  border-width: 10px;
  width: 5%;
  margin: auto auto 10px;
}

.need{
  color:#f1f1f1;
}

.need1{
  color:#ebefd0;
}

p{
  margin-top: 25px;
  padding: 10%;
  padding-top: 20px;
  padding-bottom:4%;
  font-family: 'Montserrat', sans-serif;
  line-height: 3;
  color:#145374;
  font-weight: bold;
  font-size: 1em;
}

.myButton {

	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  padding: 10px 15px;
  background-color: #f5587b;
  text-decoration: none;
}

.myButton:active {
	position:relative;
	top:1px;
}
