#top-content{
  padding: 2% ;
  margin-top: 40px;
  background-color: #fafafa;
}

.mid-content{
  padding: 5% ;
  margin-top: 0;
  background-color: #fafafa;
}

#bottom-content{
  padding: 5% ;
  margin-top: 0;
  background-color: #474f86;
}

.deep-bottom-content{
  padding:10%;
  margin-top: 8px;
  background-color: #fafafa;
}

.space1{
  margin-top:50px;
}

.col{
  margin-top:20px;
}

.space2{
  margin-top:50px;
}

.InsideBlue{
  color:#e3e3e3;
  margin-left: 5%;
}

.InsideBlue2{
  color:#929aab;
}
.fill{
  height:88vh;
  position: relative;
}
@media only screen and (max-width: 420px) {
  #pic1{
    width: 50vw;
    max-width: 200px;
    position: absolute;
    bottom: 30px;
    margin-left: -25vw;
  }
}
@media only screen and (min-width: 420px) {
  #pic1{
    width: 200px;
    position: relative;
    bottom: -20px;
    right: calc(100  - 100px);
  }
}


#pic2{
  width:80vw;
  display: block;
  max-width: 500px;
  margin-top:calc((88vh - 80vw/470*186)/4);
  margin-left: 5px;
}

#pic3{
  width:100%;
  height:auto;
  border-radius: 60px;
}

#pic4{
  width:100%;
  height:auto;
  border-radius: 60px;
}

.jumbotron{
  padding-top: 2em;
  padding-bottom: 0;
  height:88vh;
}


p{
    padding: 35px;
    font-size: 1em;
    color: #474f85;
    line-height: 2;
}

#B{
  height:50px;
  width: 50px;
  margin-right: 10px;
}


h1{
  font-family: 'Kaushan Script', cursive;
  font-size: 5em;
  font-style: italic;
  padding:10px;
  color: #5588a3;
}

#header{
  color:#f6f6e9;
}

h3{
  font-style: normal;
  font-size: 1.5em;
  font-family: 'Roboto Slab', serif;
  color: #145374;
  margin-bottom: 50px;
}

#end-head{
  font-style: normal;
  font-size: 1em;
  font-family: 'Roboto Slab', serif;
  color: #145374;
  margin-bottom: 50px;
}

#end-cont{
    font-size: 1em;
    color: #474f85;
    line-height: 2;
}

.propic{
  border-radius: 35px;
  width:80%;
  height:auto;
}

.propic:hover{
  border-radius: 35px;
  width:80.1%;
  height:auto;
}


.icons{
  margin-right: 30px;
  width:25px;
  height:25px;

}

#foot-text{
  font-size: 0.8em;
  color:#393e46;
}
